<!DOCTYPE html>
<html lang="EN"	layout:decorator="~{layouts/clientMain}">
<head>
	<title>Travel Agency</title>
</head>
<body>
		
	<div layout:fragment="loginContent">
		
		<h2>Account details:</h2>          
        <div class="row">
			<div class="col-md-6">
				<table class="zuitable">
					<thead>
						<tr>
							<th> Name </th>
							<th> Email </th>
							<th> NrTel </th>
							<th> Address </th>
							<th> CNP </th>
							<th> Username </th>
						</tr>
					</thead>
					<tbody>
						<td><span th:text="${loggeduser_name}"> Name </span></td>
            			<td><span th:text="${loggeduser_email}"> Email </span>
            			<td><span th:text="${loggeduser_nrTel}"> NrTel </span>
            			<td><span th:text="${loggeduser_address}"> Address </span></td>
            			<td><span th:text="${loggeduser_cnp}"> CNP </span></td>
            			<td><span th:text="${loggeduser_username}"> Username </span></td>
					</tbody>
				</table>
			</div>
		</div>
		
		<h3>Update the account informations:</h3>
			<form name="adminAccountUpdate" th:action="@{/updatedClientAccount}" th:object="${user}" method="post" class="form-signin">
		 	    <input type="text" id="name" name="name" th:field="*{name}" class="form-control" placeholder="New name" /> 
			    <input type="text" id="email" name="email" th:field="*{email}" class="form-control" placeholder="New email"  />
			    <input type="text" id="nrTel" name="nrTel" th:field="*{nrTel}" class="form-control" placeholder="New mobile nr" /> 
			    <input type="text" id="address" name="address" th:field="*{address}" class="form-control" placeholder="New address" /> 
			    <input type="text" id="cnp" name="cnp" th:field="*{cnp}" class="form-control" placeholder="CNP" />   
			    <input type="password" id="password" name="password" th:field="*{password}" class="form-control" placeholder="New password" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Update account</button>
			<h6>You can leave any of them empty if you don't want to change!</h6>
		</form>
	</div>
</body>
</html>